.pagination {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;

	.pagination-links {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			margin-right: 4px;
			margin-left: 4px;
			border: 1px solid black;
			border-radius: 4px;

			&.current-page,
			&.regular-page {
				padding-top: 6.5px;
				padding-right: 12px;
				padding-bottom: 7px;
				padding-left: 12px;
			}

			&.current-page {
				color: blue;
				border-color: blue;
			}

			img {
				display: block;
			}

			&:not(.current-page) {
				cursor: pointer;
				transition: opacity 0.25s;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}