footer.site-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #706766;

	.row {
		display: flex;

		.subsection {
			width: 33%;

			&.subsection-1 {
				.footer-description {
					width: 250px;
					color: white;
				}
			}

			&.subsection-2 {
				li {
					margin-bottom: 10px;

					a {
						font-size: 22px;
						color: white;
					}
				}
			}

			&.subsection-3 {
				li {
					margin-bottom: 10px;
					color: white;

					a {
						color: white;
					}
				}
			}
		}
	}
}