.site-header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	z-index: 20;
	background: linear-gradient(
		to bottom,
		#ffffff 0%,
		#ffffff 70%,
		#d9d5d4 100%
	);
	transition: all 0.3s ease 0s;

	.logo {
		#site-logo {
			width: 250px;
			height: 80px;
		}
	}

	#site-navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		
		#primary-menu {
			display: flex;

			li {
				margin-right: 20px;

				a {
					font-size: 20px;
					text-transform: uppercase;
					color: black;
				}
			}
		}
	}
}